[Desktop Entry]
Name=ZenNote
Exec=znte
Icon=org.gnome.Example
Terminal=false
Type=Application
Categories=Utility;
Keywords=GTK;
StartupNotify=true
DBusActivatable=true
